# Data Types & Type Casting

In [133]:
# bool, int, float, str 
# python case sensitive

In [134]:
# bool --> int --> float --->str

In [155]:
print(type(2))  # returns 'int’ 
print(type(2.0)) # returns 'float’ 
print(type('two')) # returns 'str’ 
print(type(True)) # returns 'bool’ 
print(type(None)) # returns 'NoneType'

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>
<class 'NoneType'>

In [135]:
#forced / manual typecasting
a= 3
b = 4.5
name = "Sachin"

z = True

print(type(a))
print(type(b))
print(type(name))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### Auto TypeCasting

In [137]:
print(3 + 4.5)
print(a + int(b))

# True -> 1, False -> 0
print(False + 4)

print(5.0 + True)

7.5
7
4
6.0

In [141]:
print(int(3.4))
print(float(3))

#Anything not zero is taken as booleon True
print(bool(-18.9), bool(2),bool(0))

3
3.0
True True False

In [148]:
print(3 + int('6'))
print(3.5 + bool(-18) + int('3'))
print(int(3.4 + bool(2)+int(8.4)))
print(int('3') + 6.7 + bool("Me"))

9
7.5
12
10.7

# Slicing

In [165]:
d = 'I am a Data Scientist'

# :  is a slicing operator

# 'I am a Data Scientist'
# '012345678901.........'

In [166]:
print(len(d))
print(d[7:11])
print(d[7:])
print(d[:11])
print(bool(d))

21
Data
Data Scientist
I am a Data
True

In [167]:
d[10:3] # 10 > 3

''

In [168]:
print(len(d[10:3])) # 10 > 3

0

# Math Operators

In [44]:
print(10 + 4) # add (returns 14) 
print(10 - 4) # subtract (returns 6) 
print(10 * 4) # multiply (returns 40) 
print(10**4) # exponent (returns 10000) 
print(10 / 4) # divide (returns 2.5) 
print(10 // 4) # divide (returns 2) 
print(5 % 4) # modulo (returns 1) - also known as the remainder

14
6
40
10000
2.5
2
1

# Logical / Comparision Operators

In [45]:
# comparisons (these return True) 
print(5 > 3 )
print(5 >= 3)
print(5 != 5)
print(5 == 5) # boolean operations (these return True) 

# evaluation order: not, and, or

True
True
False
True

In [169]:
print(5 > 3 and 6 < 3 )

print(5 > 3 or 5 < 3 )

print(5 < 3 or 5 > 3 )

print((5>3) or (10>12))

False
True
True
True

In [170]:
print(True == bool(23))

print((5 >= 3 or 6 > 100) and (True == bool(23)))

print( True and 18.9)

True
True
18.9

# Conditional Statements

In [52]:
if (False):
    print("This is IF block")
else :
    print("This is Else Block")

This is Else Block

In [53]:

if (5<3) :
    print("True block statement 1")
else:
    print("False block")

False block

In [54]:
if (5 > 3) :
    print("True block statement 1")
else:
    print("False block")

True block statement 1

In [55]:
x = 0
if (x > 0) :
    print("X is Positive")

elif (x<0):
    print("X is Negative")   
else:
    print("X is ZERO")

X is ZERO

In [56]:
x=-100

if ((x>0) or (x==-100)):
    print("X is positive Value or -100")
    print("I am if loop")
elif (x<0):
    print("I am in else if block")
    print("X is negative")
else:
    print("X is Zero")
    
print("I am out of IF looP")

X is positive Value or -100
I am if loop
I am out of IF looP

In [57]:
x = 6

if x%2 == 0 :
    print(x, " is even number")
else :
    print(x, " is ODD number")

print("this is out of IF else block")

6  is even number
this is out of IF else block

In [58]:
x = -20
# if/elif/else statement
if x > 0:
    print('positive') 
    print('hello')
elif x == 0: 
    print('zero') 
else: 
    print('negative') 
print("I am out of IF block")

negative
I am out of IF block

In [59]:
# single-line if statement (sometimes discouraged) 
x=5
if x > 0: print('positive')

positive

# Lists
 Python lists are very flexible and can hold completely heterogeneous, arbitrary data, and they can be appended to very efficiently.

In [60]:
# create a list 
# create an empty list (two ways) 
empty_list = [] 
empty_list = list()

In [173]:
l1 = [3,5,7.5,88,99., "sachin", True]
print(l1)
print(len(l1))

print(l1[2] ,l1[0]  ,l1[-2])

print(type(l1))

[3, 5, 7.5, 88, 99.0, 'sachin', True]
7
7.5 3 sachin
<class 'list'>

In [175]:
l2 = [3,4.0,"Hi me?",True, 6,[5,"I am another list"]]

print(l2)

print(l2[5])

print(l2[5][0])

print(l2[5][1])

[3, 4.0, 'Hi me?', True, 6, [5, 'I am another list']]
[5, 'I am another list']
5
I am another list

In [181]:
my_list = [3,4,15,5.9]

print(sorted(my_list))

[3, 4, 5.9, 15]

In [198]:
myfamily = ['mom','dad']
myfamily

['mom', 'dad']

In [199]:
myfamily.extend(['wife','bro'])

myfamily

['mom', 'dad', 'wife', 'bro']

In [200]:
myfamily.append("me")
myfamily

['mom', 'dad', 'wife', 'bro', 'me']

In [201]:
myfamily.append(['son','bro','daughter'])

myfamily

['mom', 'dad', 'wife', 'bro', 'me', ['son', 'bro', 'daughter']]

In [202]:
myfamily.insert(2,'sachin')
myfamily

['mom', 'dad', 'sachin', 'wife', 'bro', 'me', ['son', 'bro', 'daughter']]

In [203]:
myfamily.pop(3)

'wife'

In [204]:
myfamily

['mom', 'dad', 'sachin', 'bro', 'me', ['son', 'bro', 'daughter']]

In [205]:
myfamily.remove('bro')
myfamily

['mom', 'dad', 'sachin', 'me', ['son', 'bro', 'daughter']]

# Tuples
A tuple is a sequence of immutable Python objects. Tuples are sequences, just like lists. The differences between tuples and lists are, the tuples cannot be changed unlike lists and tuples use parentheses, whereas lists use square brackets. Creating a tuple is as simple as putting different comma-separated values.

In [207]:
# create a empty tuple 
empty_tuple = ()
empty_tuple1 = tuple()

print(type(empty_tuple))

print(type(empty_tuple1))


# create a tuple 
t = (0, 1, 'two',0,1,1,1)  # create a tuple directly 
t

<class 'tuple'>
<class 'tuple'>

(0, 1, 'two', 0, 1, 1, 1)

In [213]:

list_val = [10,3, 1, 'two',3,3,3]

digits = tuple(list_val)  # create a tuple from a list 
# examine a tuple 
print(digits[2])  
print(len(digits))

print(digits.count(3)) 


print(digits.index(1))

1
7
4
2

In [216]:
digits[1]= 'one' #returns an assignment error

TypeError: 'tuple' object does not support item assignment

In [219]:
l3 = ["sachin" , "kohali" , "dhoni"]
l3

['sachin', 'kohali', 'dhoni']

In [220]:
l3[2] = "rohit"
l3

['sachin', 'kohali', 'rohit']

In [221]:
# list convet into tuple

t1 = tuple(l3)
t1

('sachin', 'kohali', 'rohit')

In [222]:
my_tuple = (1,3.0,'works')
print(my_tuple)


#tuple convet into list

l4 = list(my_tuple)
l4

(1, 3.0, 'works')

[1, 3.0, 'works']

# Strings

In [226]:
# create a string 
s = 'I like you' # examine a string 

print(s[0]) # returns 'I’ 
print(len(s)) # returns 10 
# string slicing like lists
print(s[:6]) # returns 'I like’
print(s[7:]) # returns 'you’
print(s[-1] )# returns 'u' 

print(len(s))

I
10
I like
you
u
10

In [224]:
s[::-1] #reverse string

'uoy ekil I'

In [225]:
print(s.lower())
print(s.upper())

i like you
I LIKE YOU

# Dictionaries
Python dictionary is an unordered collection of items. While other compound data types have only value as an element, a dictionary has a key: value pair.

Dictionaries are optimized to retrieve values when the key is known.

In [233]:
# create an empty dictionary (two ways) 
empty_dict = {} 
empty_dict = dict() 
# create a dictionary (two ways) 
my_pro = {'name':'Sachine', 'job':'Data Scientist', 
          'location':"mumbai", "years_exp":7, 9  : 11} 


cust_profile = dict(cust_id = 24,name='Anand', age=43, 
                    job=['programmer','CEO','Data Scientist'],
                    location="delhi", years_Exp=11)

In [228]:
my_pro

{'name': 'Sachine',
 'job': 'Data Scientist',
 'location': 'mumbai',
 'years_exp': 7,
 9: 11}

In [229]:
cust_profile

{'cust_id': 24,
 'name': 'Anand',
 'age': 43,
 'job': ['programmer', 'CEO', 'Data Scientist'],
 'location': 'delhi',
 'years_Exp': 11}

In [231]:
print(my_pro.keys())

dict_keys(['name', 'job', 'location', 'years_exp', 9])

In [232]:
print(my_pro.values())

dict_values(['Sachine', 'Data Scientist', 'mumbai', 7, 11])

In [234]:
print(my_pro['job'])

Data Scientist

# Sets
A set contains an unordered collection of unique and immutable objects. The set data type is, as the name implies, a Python implementation of the sets as they are known from mathematics. This explains, why sets unlike lists or tuples can't have multiple occurrences of the same element.

In [107]:
# create an empty set
empty_set = set()
# create a set
lang = {'python', 'r', 'java'} # create a set directly 
snakes = set(['cobra', 'viper', 'python','python']) # create a set from a list 
print(lang)
print(snakes)

{'java', 'r', 'python'}
{'cobra', 'viper', 'python'}

In [108]:
snakes.union(lang)

{'cobra', 'java', 'python', 'r', 'viper'}

In [109]:
snakes.intersection(lang)

{'python'}

In [110]:
# examine a set 

lang.intersection(snakes)

{'python'}

# Functions

In [236]:
def sayhello():
    return print("HELOOOOO")

In [237]:
sayhello()

HELOOOOO

In [238]:
def squareit(x=0):
    if(x==0):
        print("please give a number for squaring")
    else:
        return x**2


squareit(3)

9

In [239]:
squareit()

please give a number for squaring

In [241]:
#weight in kgs, height in cms.
def bmi(weight,height):
     return weight / (height/100)**2

    
    
bmi(74,176)

23.889462809917354

In [242]:
#weight in kgs, height in cms.
def bmi_test(weight,height = 2):
     return weight / (height/100)**2
    
print(bmi_test(3))

bmi_test(74,176)

7500.0

23.889462809917354

In [132]:
ban_temp=c2f(23)
ban_temp

73.4

In [123]:
def iseven(x=0):
    if (x==0):
        return print("please provide arg")
    elif (x%2==0):
        return True
    else:
        return False

In [243]:
iseven(7)

False

In [244]:
iseven(8)

True

In [245]:
# define a function with one argument and no return values 
def print_this(x):  print(x) 

print_this(2)

2

# Loops

In [246]:
# alternative for loop (recommended style)
fruits = ['apple', 'banana', 'cherry','mango'] 
 
print(fruits)

['apple', 'banana', 'cherry', 'mango']

In [247]:
for fruit in fruits: 
        print(fruit)

apple
banana
cherry
mango

In [248]:
for fruit in fruits: 
        print(fruit[0])

a
b
c
m

In [249]:
for x in range(3):
    print(x)

0
1
2

In [250]:
for i in range(0, 3):
    print(i)

0
1
2

In [253]:
for i in range(5,2, -1):
    print(i)

5
4
3